html, body {
  height: 100%;
  width: 100%;
  background-color: #790279;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  overflow-x: hidden;
}

.profile-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  height: auto;
  max-width: 200px;
  border-radius: 47%;
}

.profile-name {
  font-weight:bold;
  color: white;
  text-align: center;
  padding: 30px;
  font-size: 28px;
}

.link {
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  border: 1px solid #72086a;
  border-width: 2px;
  width: 290px;
  display: block;
  margin: auto;
  border-radius: 40px;
  font-size: 18px;
  background-color: #dc6f81;
}

a {
  text-decoration: none;
  color: white;
  transition: color 1s;
}

a:hover {
  background-color: #5b176e;
}

::-webkit-scrollbar {
  width: 20px;
  background-color: #790279;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #dc6f81;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5b176e;
}
